choice  Platform
	prompt "Target Platform"
	default	PC
	help
		Select the target platform (Board)

config	PC
	bool
	prompt "Intel PC architecture"
	help
		Select this option if your target
		board is an intel PC

endchoice

if PC
source "./platforms/configs/Kconfig.pc"
endif
